{{- $passphrase := env "$ENCRYPTION_PASSPHRASE" -}}
{{ $hostname := promptStringOnce . "hostname" "hostname" -}}

encryption = "gpg"
[data]
    passphrase = {{ $passphrase | quote }}
    hostname = {{ $hostname | quote }}
[gpg]
    symmetric = true
    args = ["-z", "9", "--batch", "--passphrase", {{ $passphrase | quote }}]
