{{- $passphrase := env "ENCRYPTION_PASSPHRASE" | quote -}}
encryption = "gpg"
[data]
    passphrase = {{ $passphrase }}
    hostname = {{ env "HOSTNAME" | quote }}
[gpg]
    symmetric = true
    args = ["-z", "9", "--batch", "--passphrase", {{ $passphrase }}]
