{{- $passphrase := env "ENCRYPTION_PASSPHRASE" | quote -}}
encryption = "gpg"
[data]
    passphrase = {{ $passphrase }}
    machineType = {{ env "MACHINE_TYPE" | quote }}
[gpg]
    symmetric = true
    args = ["--quiet", "-z", "9", "--batch", "--passphrase", {{ $passphrase }}]
