#!/bin/bash

echo "Running ${HOME}/.profile"

set -a
. ~/.bash_aliases
set +a

export MACHINE_TYPE={{ .machineType | quote }}
set -a && . "${HOME}/.env" && set +a
[ ! -d "${HOME}/.asdf" ] || . "$HOME/.asdf/asdf.sh"
if [ -n "$LD_LIBRARY_PATH" ]; then
  case ":$LD_LIBRARY_PATH:" in
    *":$HOME/.local/lib:"*) ;;
    *) export LD_LIBRARY_PATH="$HOME/.local/lib:$LD_LIBRARY_PATH" ;;
  esac
else
  export LD_LIBRARY_PATH="$HOME/.local/lib"
fi

if [ "${MACHINE_TYPE}" = "pubnix" ]; then
  if [ "$(hostname)" = "core.envs.net" ] || [ "$(hostname)" = "de1" ]; then
      export TMPDIR="/run/user/$(id --user)/tmp"
  else
      export TMPDIR="/tmp/$(whoami)"
  fi
  if [ ! -d "${TMPDIR}" ]; then
      for dir in .cache .cargo .npm tmp; do
          mkdir -p "${TMPDIR}/$dir"
          rm -rf "${HOME}/$dir"
          ln -s "${TMPDIR}/$dir" "${HOME}/$dir"
      done
      chmod 700 "${TMPDIR}"
  fi
fi

if [ `hostname` = bsd.tilde.team ]; then
  export PYTHONPATH=${PYTHONPATH}:`echo -n ${HOME}/.local/lib/python3.*/site-packages`
fi

